body {
    background-color: rgb(11, 141, 181);
}
.container {
    display: flex;
    justify-content: center;
    margin: auto;
}
.topContainer {
    margin-top: 25%;
}
.bottomContainer {
    margin-bottom: 25%;
}
.menuLinks {
    width: 14rem;
    height: 3rem;
    border-radius: 3rem;
    margin: auto;
    margin-left: 2.5rem;
    margin-right: 2.5rem;
    background-color: rgb(255, 255, 255);
}
.menuLinksText {
    line-height: 3rem;
    text-align: center;
    color: black;
}