body {
    background-color: rgb(11, 141, 181);
}
.container {
    display: flex;
    justify-content: center;
    margin: auto;
}
.topContainer {
    margin-top: 5%;
}
.bottomContainer {
    margin-bottom: 5%;
}
.menuLinks {
    width: 14rem;
    height: 3rem;
    border-radius: 3rem;
    margin: auto;
    margin-left: 2.5rem;
    margin-right: 2.5rem;
    background-color: rgb(0, 255, 64);
}
.menuLinksText {
    line-height: 3rem;
    text-align: center;
    color: black;
}
.titleText {
    line-height: 10rem;
    text-align: center;
    color: green;
    size: 5rem;
    font-weight: 500;
}

.characterSheet {
    width: 50rem;
    height: 100rem;
    outline-color: black;
}